.contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.item-btn {
  border-radius: 5px;
  padding: 3px 8px;
  background-color: #ec6517;
  border: transparent;
  transition-duration: 250ms;
}

.item-btn:hover {
  box-shadow: rgb(240, 119, 49) 0px 1px 25px 0px,
    rgba(240, 119, 49) 0px 0px 0px 1px;
}

.item-btn:active {
  background-color: rgb(255, 255, 255);
}
